.apple-tv-card-container {
    position: relative;
    width: 100%;
    padding-bottom: 3.5rem;

    &.no-title {
        padding-bottom: 0;
    }

    & > .apple-tv-card {
        width: 100%;
        border-radius: min(max(2vmax, 2rem), 3rem);
        box-shadow: 0 .25rem .25rem #0002;
        transform-origin: 50%;
        transition: transform 50ms ease-in-out;
        transform-style: preserve-3d;
        overflow: hidden;
        position: relative;
        z-index: 0;

        &.not-rounded {
            border-radius: 0;
        }

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        &.hover, &:focus-within {
            box-shadow: 0 1.5rem 2rem .25rem #0005;
            outline: none;
            transform: translateZ(4rem);

            & + .apple-tv-card-title {
                bottom: .9rem;
                opacity: 1;
            }
        }

        & > .shadow {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            pointer-events: none;
            background: #0002;
            opacity: 0;
            z-index: 3;
        }

        & > .reflection {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            background-image: radial-gradient(#fff7, transparent 70%);
            transform: translateY(-100%);
            z-index: 4;
        }

        & > .content {
            display: block !important;
            width: 100%;
            border: none;
            outline: none;
            background-image: linear-gradient(to bottom, #555, #000);
            background-position: center center;
            padding-bottom: 58%;
            z-index: 1;
            position: relative !important;

            * {
                pointer-events: none;
            }
        }

        & > .parallax-content {
            transform-style: preserve-3d;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            background-position: center center;
            background-repeat: no-repeat;
            transition: transform 50ms ease-in-out;
            z-index: 2;

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }
    }

    & > .apple-tv-card-title {
        position: absolute;
        pointer-events: none;
        bottom: 1.3rem;
        left: 0;
        right: 0;
        opacity: 0;
        text-align: center;
        font-size: 1.3rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
        text-shadow: 0 1px black;
        transition: opacity .12s ease-in-out, bottom .09s ease-in-out;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        &.always-visible {
            opacity: 1;
        }
    }
}
