.apple-tv-card-container {
    perspective: 50rem;
    position: relative;
    margin-bottom: 2.5rem;

    &.no-title {
        margin-bottom: 0;
    }

    & > .apple-tv-card {
        width: 100%;
        border-radius: 1.5rem;
        box-shadow: 0 .25rem .25rem 0 #0002;
        transform-origin: 50% 50%;
        transition: all 50ms ease-in-out;
        transform-style: preserve-3d;
        overflow: hidden;
        position: relative;

        &.hover {
            box-shadow: 0 1.5rem 2rem .25rem #0005;

            & + .apple-tv-card-title {
                top: 110%;
                opacity: 1;
            }
        }

        & > .reflection {
            position: absolute;
            top: 0;
            left: 0;
            width: 150%;
            padding-bottom: 150%;
            margin-top: -75%;
            margin-left: -75%;
            pointer-events: none;
            background-image: radial-gradient(#fff8, transparent 70%);
            transform: translateY(-100%);
            z-index: 2;
        }

        & > .paralax-content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: grid;
            place-items: center;
            pointer-events: none;
            transition: transform 50ms ease-in-out;
            z-index: 1;
        }
    }

    & > .apple-tv-card-title {
        position: absolute;
        pointer-events: none;
        top: 106%;
        left: 0;
        right: 0;
        opacity: 0;
        text-align: center;
        font-size: 1.1em;
        transition: opacity 120ms ease-in-out, top 120ms ease-in-out;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        &.always-visible {
            opacity: 1;
        }
    }
}
