.apple-tv-card-container {
    position: relative;
    margin-bottom: 2.5rem;

    &.no-title {
        margin-bottom: 0;
    }

    & > .apple-tv-card {
        width: 100%;
        border-radius: 1.5rem;
        box-shadow: 0 .25rem .25rem #0002;
        transform-origin: 50%;
        transition: transform 50ms ease-in-out;
        transform-style: preserve-3d;
        overflow: hidden;
        position: relative;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        &.hover {
            box-shadow: 0 1.5rem 2rem .25rem #0005;

            & + .apple-tv-card-title {
                top: calc(100% + 1.1rem);
                opacity: 1;
            }
        }

        & > .reflection {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            background-image: radial-gradient(#fff5, transparent 70%);
            transform: translateY(-100%);
            z-index: 2;
        }

        & > .content {
            display: block !important;
            background-image: linear-gradient(to bottom, #555, #000);
            background-position: center center;
            padding-bottom: 58%;
        }

        & > .paralax-content {
            transform-style: preserve-3d;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: grid;
            place-items: center;
            pointer-events: none;
            background-position: center center;
            background-repeat: no-repeat;
            transition: transform 50ms ease-in-out;
            z-index: 1;

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }
    }

    & > .apple-tv-card-title {
        position: absolute;
        pointer-events: none;
        top: calc(100% + .75rem);
        left: 0;
        right: 0;
        opacity: 0;
        text-align: center;
        font-size: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: opacity .12s ease-in-out, top .12s ease-in-out;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        &.always-visible {
            opacity: 1;
        }
    }
}
